/*:root {*/
/*    --tg-theme-button-color: #0082c8; !* replace with the color you want for the background *!*/
/*    --tg-theme-button-text-color: #000000; !* replace with the color you want for the text *!*/
/*}*/

.button {
    padding: 10px 15px;
    background: var(--tg-theme-button-color);
    color: var(--tg-theme-button-text-color);
    border: none;
    outline: none;
    cursor: pointer;
}